<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
  <style>
    .content{
      display: flex;
      align-items: center;
    }

    .content a {
      text-decoration: none;
      color: #e2e2e2;
    }

    .reset-password{
      background: #912ed9;
      font-size: 16px;
      padding: 10px;
      width: 250px;
      margin-bottom: 4px;

      transition: background 0.3s ease;
    }
    .reset-password:hover{
      background: #b56de9;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="content" style="background-color: #080808; align-items: center;" >
    <a href="{{link}}" class="reset-password">
      Reset Password
    </a>
  </div>
</body>
</html>